html, body {
  width: 100%;
  height: 100%;
  color: #fff;
  margin: 0;
  padding: 0;
}

.main {
  position: absolute;
  left:0;
  top:0;
  height: 100%;
  width: 100%;
}

@import "menu";
@import "preloader";
@import "video";