.select {
  /*position: absolute;*/
  width: 15vw;
}

.select select {
  width: 100%;
}

.select label {
  font-size: 13px;
}

.call-btn {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(33, 39, 51, 0.9);
  position: absolute;
  z-index: 9999;
  left: 0;
  right: 0;
  bottom: 40px;
  border-radius: 13px;
  min-width: 300px;
  max-width: calc(45vw);
  margin: auto;
  padding: 0 40px;
}