
[class*="circle-preloader-r14"] {
  width: 10px;
  height: 10px;
  -moz-animation: 0.5s rotate linear infinite;
  -webkit-animation: 0.5s rotate linear infinite;
  animation: 0.5s rotate linear infinite;
}

[class*="circle-preloader-r20"] {
  width: 16px;
  height: 16px;
  -moz-animation: 0.5s rotate linear infinite;
  -webkit-animation: 0.5s rotate linear infinite;
  animation: 0.5s rotate linear infinite;
}

[class*="circle-preloader-r28"] {
  width: 24px;
  height: 24px;
  -moz-animation: 0.5s rotate linear infinite;
  -webkit-animation: 0.5s rotate linear infinite;
  animation: 0.5s rotate linear infinite;
}

[class*="circle-preloader-r32"] {
  width: 28px;
  height: 28px;
  -moz-animation: 0.5s rotate linear infinite;
  -webkit-animation: 0.5s rotate linear infinite;
  animation: 0.5s rotate linear infinite;
}

[class*="circle-preloader"] {
  border-radius: 50%;
}

[class*="w-circle-preloader"] {
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-top-color: white;
  border-left-color: rgba(255, 255, 255, 0.85);
  border-bottom-color: rgba(255, 255, 255, 0.7);
}

[class*="b-circle-preloader"] {
  border: 2px solid rgba(97, 170, 242, 0.15);
  border-top-color: #61aaf2;
  border-left-color: rgba(97, 170, 242, 0.85);
  border-bottom-color: rgba(97, 170, 242, 0.7);
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotateZ(360deg);
  }
}

@-moz-keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

[class*="line-preloader"] {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 15;
  display: flex;
  overflow: hidden;
  text-align: center;
}

[class*="line-preloader"] ._spinner {
  position: relative;
  right: 100%;
  width: 100%;
  height: 100%;
}

[class*="line-preloader"] ._spinner.spinner-loading {
  animation-name: spinner-loading;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

[class*="line-preloader"]._step1 ._spinner {
  -webkit-transition: right 3.5s linear;
  transition: right 3.5s linear;
}

[class*="line-preloader"]._step1._loading ._spinner {
  right: 10%;
}

[class*="line-preloader"]._step2 ._spinner {
  -webkit-transition: right 0.3s linear;
  transition: right 0.3s linear;
}

[class*="line-preloader"]._step2._loading ._spinner {
  right: 0;
}

@keyframes spinner-loading {
  from {
    right: 100%;
  }
  to {
    right: -100%;
  }
}

[class*="b-line-preloader"] ._spinner {
  background-color: #61aaf2;
}

[class*="w-line-preloader"] ._spinner {
  background-color: #fff;
}

[class*="line-preloader-1"] {
  height: 1px;
  background-color: rgba(238, 238, 238, 0.22);
}

[class*="line-preloader-2"] {
  height: 2px;
}

.con {
  position: relative;
  height: 30px;
  margin: 30px 0;
}

[class*="large-preloader"] {
  display: block;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid transparent;
  -moz-animation: 2s rotate linear infinite;
  -webkit-animation: 2s rotate linear infinite;
  animation: 2s rotate linear infinite;
}

[class*="large-preloader"]:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 2px solid transparent;
  -moz-animation: 3s rotate linear infinite;
  -webkit-animation: 3s rotate linear infinite;
  animation: 3s rotate linear infinite;
}

[class*="large-preloader"]:after {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  left: 12px;
  bottom: 12px;
  border-radius: 50%;
  border: 2px solid transparent;
  -moz-animation: 1.5s rotate linear infinite;
  -webkit-animation: 1.5s rotate linear infinite;
  animation: 1.5s rotate linear infinite;
}

[class*="b-large-preloader"] {
  border-top-color: #61aaf2;
}

[class*="b-large-preloader"]:before, [class*="b-large-preloader"]:after {
  border-top-color: #61aaf2;
}

[class*="w-large-preloader"] {
  border-top-color: #fff;
}

[class*="w-large-preloader"]:before, [class*="w-large-preloader"]:after {
  border-top-color: #fff;
}

.position-relative {
  cursor: pointer;
  position: relative;
  display: table;
  margin: 20px;
}

.position-relative:hover .box-size {
  width: 60px;
  height: 60px;
}

.box-size {
  width: 30px;
  height: 30px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: rgba(238, 238, 238, 0.22);
}

.box-size._circle {
  border-radius: 50%;
}

[class*="media-preloader"] .line-square {
  display: none;
}

[class*="media-preloader"]._square, [class*="media-preloader"]._circle {
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  overflow: hidden;
}

[class*="media-preloader"]._circle:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  -moz-animation: 0.5s rotate linear infinite;
  -webkit-animation: 0.5s rotate linear infinite;
  animation: 0.5s rotate linear infinite;
}

[class*="media-preloader"]._square:after, [class*="media-preloader"]._square:before, [class*="media-preloader"] .line-square:after, [class*="media-preloader"] .line-square:before {
  content: "";
  position: absolute;
}

[class*="media-preloader"]._square .line-square {
  display: block;
}

[class*="media-preloader"]._square:after {
  left: 100%;
  top: 0;
  width: 100%;
  height: 2px;
  -moz-animation: lineSquare1 1s infinite linear;
  -webkit-animation: lineSquare1 1s infinite linear;
  animation: lineSquare1 1s infinite linear;
}

[class*="media-preloader"]._square:before {
  left: 0;
  top: -100%;
  width: 2px;
  height: 100%;
  -moz-animation: lineSquare2 1s 0.25s infinite linear;
  -webkit-animation: lineSquare2 1s 0.25s infinite linear;
  animation: lineSquare2 1s 0.25s infinite linear;
}

[class*="media-preloader"] .line-square:after, [class*="media-preloader"] .line-square:before {
  transform: rotate(180deg);
}

[class*="media-preloader"] .line-square:after {
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  -moz-animation: lineSquare3 1s 0.5s infinite linear;
  -webkit-animation: lineSquare3 1s 0.5s infinite linear;
  animation: lineSquare3 1s 0.5s infinite linear;
}

[class*="media-preloader"] .line-square:before {
  right: 0;
  bottom: -100%;
  width: 2px;
  height: 100%;
  -moz-animation: lineSquare4 1s 0.75s infinite linear;
  -webkit-animation: lineSquare4 1s 0.75s infinite linear;
  animation: lineSquare4 1s 0.75s infinite linear;
}

[class*="b-media-preloader"]._circle:before {
  border-top-color: #61aaf2;
  border-left-color: rgba(97, 170, 242, 0.85);
  border-bottom-color: rgba(97, 170, 242, 0.7);
}

[class*="b-media-preloader"]._square:after, [class*="b-media-preloader"]._square:before, [class*="b-media-preloader"] .line-square:after, [class*="b-media-preloader"] .line-square:before {
  background: linear-gradient(5deg, #61aaf2, rgba(97, 170, 242, 0));
}

[class*="w-media-preloader"]._circle:before {
  border-top-color: white;
  border-left-color: rgba(255, 255, 255, 0.85);
  border-bottom-color: rgba(255, 255, 255, 0.7);
}

[class*="w-media-preloader"]._square:after, [class*="w-media-preloader"]._square:before, [class*="w-media-preloader"] .line-square:after, [class*="w-media-preloader"] .line-square:before {
  background: linear-gradient(5deg, #ffffff, rgba(255, 255, 255, 0));
}

@keyframes lineSquare1 {
  0% {
    left: 100%;
    top: 0;
  }
  50% {
    left: -100%;
    top: 0;
  }
  50.01% {
    left: 100%;
    top: 0;
  }
  100% {
    left: 100%;
    top: 0;
  }
}

@keyframes lineSquare2 {
  0% {
    left: 0;
    top: -100%;
  }
  50% {
    left: 0;
    top: 100%;
  }
  50.01% {
    left: 0;
    top: -100%;
  }
  100% {
    left: 0;
    top: -100%;
  }
}

@keyframes lineSquare3 {
  0% {
    bottom: 0;
    left: -100%;
  }
  50% {
    bottom: 0;
    left: 100%;
  }
  50.01% {
    bottom: 0;
    left: -100%;
  }
  100% {
    bottom: 0;
    left: -100%;
  }
}

@keyframes lineSquare4 {
  0% {
    right: 0;
    bottom: -100%;
  }
  50% {
    right: 0;
    bottom: 100%;
  }
  50.01% {
    right: 0;
    bottom: -100%;
  }
  100% {
    right: 0;
    bottom: -100%;
  }
}
