
.video-container {

  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;

  &.full {
    left: 0;
    width: 100vw;
  }

  &:not(.full) {
    width: 25vw;
    height: 25vh;
  }

  video {
    margin: 10px;
    width: 100%;
    height: 100%;
    max-width: calc(100%);
    max-height: calc(100%);
    box-sizing: border-box;
  }

}

.local-video {
  z-index: 100;
}